.c2020{
    margin-top: 120px;
    img{
        width: 100%;
    }
}
.posts{
    border: 1px solid $black;
    margin: 8px;
    padding: 16px 8px;
    font-family: $ubuntu;
    .post{
        border: 1px dashed $black;
        margin: 8px;
        padding: 8px;
        &__img{
            margin-bottom: 8px;
            img{
                width: 100%;
            }
        }
        &__title{
            font-size: 1.6em;
            font-weight: $bold;
            margin-bottom: 16px;
        }
        &__intro{
            margin-bottom: 16px;
            text-align: justify;
            line-height: 1.5;
        }
        &__author{
            font-weight: $bold;
            font-size: 1.2em;
            margin-bottom: 16px;
        }
        &__icons{
            display: flex;
            margin-bottom: 16px;
            font-family: $poppins;
            .icon{
                display: flex;
                align-items: center;
                margin-right: 8px;
                span{
                    margin-left: 4px;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-desktop){
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .c2020{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        img{
            max-width: 50vw;
            display: block;
            margin: 0 auto;
        }
    }
    .sidebar {
        figure{
            max-width: 180px;
        }
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        margin-top: 8px;
        &__links{
            display: flex;
            a{
                margin-right: 32px;
            }
            form{
                display: flex;
            }
        }
    }

}