.header{
    .mainbanner{
        width: 100%;
        height: 10vh;
        background-image: url(../images/image-banner.png);
        background-size: 100%;
        background-position: center;
    }
    .user{
        padding: 1em;
        &__profile{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                border-radius: 50%;
                width: 10vh;
                height: 10vh;
                margin-right: 1em;
            }
        }
        &__content{
            h1{
                font-weight: $bold;
                font-size: 1.8em;
            }
            p{
                font-size: 1.2em;
                margin-top: 0.3em;
            }
        }
        .actions{
            display: none;
        }
    }
}
@media (min-width: $breakpoint-desktop){
}