.sidebar{
    border: 1px solid #000000;
    margin: 8px;
    padding: 16px 8px;
    font-family: $ubuntu;
    margin-bottom: 16px;
    figure{
        width: 70%;
        margin: auto;
        img{
            width: 100%;
            border-radius: 50%;
            border: 2px solid $black;
        }
    }
    h2{
        text-align: center;
        font-family: $poppins;
        font-weight: $bold;
        font-size: $large;
        text-transform: uppercase;
        margin: 1em auto;
    }
    .rrss{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        a{
            margin: 0 4px;
            svg{
                height: 30px;
                width: 30px;
            }
        }
    }
    p{
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    h3{
        text-align: center;
        display: block;
        background-color: $sable;
        color: $white;
        font-size: 1.3em;
        padding: 8px 0;
        font-weight: $bold;
        margin-bottom: 16px;
    }
    ul{
        list-style-type: circle;
        padding-left: 20px;
        a{
            text-decoration: none;
            display: block;
            margin-bottom: 8px;
        }
    }
}